@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --font-playfair: 'Playfair Display', serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-kokan-cream text-gray-800 antialiased;
  }
}

@layer utilities {
  .section-padding {
    @apply px-4 md:px-8 lg:px-16 xl:px-24;
  }
}